# Python para ciência de dados

## Capítulos iniciais

In [ ]:
my_list = [ 'estudar', 'almoçar','lavar louças', 'programar']

from collections import deque

teste=deque(my_list)
teste.append('fazer exercícios')
print(teste.popleft(), ' - Pronto!')
list(teste)

estudar  - Pronto!

['almoçar', 'lavar louças', 'programar', 'fazer exercícios']

In [ ]:
stak=[]
for task in my_list:
  stak.append(task)

while stak:
  print(stak.pop(), '-Pronto!')

stak

programar -Pronto!
lavar louças -Pronto!
almoçar -Pronto!
estudar -Pronto!

[]

In [ ]:
import spacy

txt='my code is ok'

npl=spacy.load('en_core_web_sm')

doc=npl(txt)

teste=[]


for w in doc:
  if w.pos_ == 'NOUN' or w.pos_ == 'PROPN':
    teste.append(w.text)
  elif (w.head.pos_ == 'NOUN' or w.head.pos_ == 'PROPN') and (w in w.head.lefts):
    teste.append(w.text)
  elif teste:
    chunk = ''

    while teste:
      chunk = teste.pop() + ' ' + chunk

    print(chunk.strip())

my code

In [ ]:
print(teste)

[]

In [ ]:
tarefas = ['tomar café', 'trocar de roupas', 'trabalhar']
ordem  = [1,2,3]

lista = [(hora, tarefa) for hora, tarefa in zip(ordem, tarefas)]
lista

[(1, 'tomar café'), (2, 'trocar de roupas'), (3, 'trabalhar')]

In [ ]:
lista[2][1]

'trabalhar'

In [ ]:
dic_list = [
            {'hora': '8:00', 'nome':'tomar café'},
            {'hora': '9:00', 'nome':'trocar de roupas'}
]

In [ ]:
dic_list[1]['hora'] = '10:00'

dic_list

[{'hora': '8:00', 'nome': 'tomar café'},
 {'hora': '10:00', 'nome': 'trocar de roupas'}]

In [ ]:
txt = "The interactions of radiations such as photons and electrons are stochastic and obey the laws of chance. For photon radiation, the concept of cross-section,with its relation to probability, follows directly"

In [ ]:
txt = txt.replace('.', '').replace(',','')
txt_list = txt.split()
txt_list

['The',
 'interactions',
 'of',
 'radiations',
 'such',
 'as',
 'photons',
 'and',
 'electrons',
 'are',
 'stochastic',
 'and',
 'obey',
 'the',
 'laws',
 'of',
 'chance',
 'For',
 'photon',
 'radiation',
 'the',
 'concept',
 'of',
 'cross-sectionwith',
 'its',
 'relation',
 'to',
 'probability',
 'follows',
 'directly']

In [ ]:
dic = {}
for i in txt_list:
  d = dic.setdefault(i,0)
  dic[i] +=1


dic

{'The': 1,
 'interactions': 1,
 'of': 3,
 'radiations': 1,
 'such': 1,
 'as': 1,
 'photons': 1,
 'and': 2,
 'electrons': 1,
 'are': 1,
 'stochastic': 1,
 'obey': 1,
 'the': 2,
 'laws': 1,
 'chance': 1,
 'For': 1,
 'photon': 1,
 'radiation': 1,
 'concept': 1,
 'cross-sectionwith': 1,
 'its': 1,
 'relation': 1,
 'to': 1,
 'probability': 1,
 'follows': 1,
 'directly': 1}

In [ ]:
lista = [
 {
  "name": "photo1.jpg",
  "tags": {'coffee', 'breakfast', 'drink', 'table', 'tableware', 'cup', 'food'}
 },
 {
  "name": "photo2.jpg",
  "tags": {'food', 'dish', 'meat', 'meal', 'tableware', 'dinner', 'vegetable'}
 },
 {
  "name": "photo3.jpg",
  "tags": {'city', 'skyline', 'cityscape', 'skyscraper', 'architecture', 'building', 'travel'}
 },
 {
  "name": "photo4.jpg",
  "tags": {'drink', 'juice', 'glass', 'meal', 'fruit', 'food', 'grapes'}
 }
]

In [ ]:
for i in range(1, len(lista)):
  for j in range(i+1, len(lista)+1):
    print(f'intersecting photo {i} with photo {j}')
    a = lista[i-1]['tags']
    b = lista[j-1]['tags']
    inters = a.intersection(b)
    p = (lista[i-1]['name'], lista[j-1]['name'])

    if inters:

      print(p)

intersecting photo 1 with photo 2
('photo1.jpg', 'photo2.jpg')
intersecting photo 1 with photo 3
intersecting photo 1 with photo 4
('photo1.jpg', 'photo4.jpg')
intersecting photo 2 with photo 3
intersecting photo 2 with photo 4
('photo2.jpg', 'photo4.jpg')
intersecting photo 3 with photo 4

In [ ]:
type(photos)

tuple

In [ ]:
a = list(lista[i]['tags'])
type(a)

list

## Pandas

Pandas

In [ ]:
import pandas as pd

data = ['Mariana', 'Caroline', 'de','Carvalho','França']

my_serie = pd.Series(data)

print(my_serie)

0     Mariana
1    Caroline
2          de
3    Carvalho
4      França
dtype: object

índices personalizados:

In [ ]:
my_serie2 = pd.Series(data, index=[9000,9001,9002,9003,90004])
print(my_serie2)

9000      Mariana
9001     Caroline
9002           de
9003     Carvalho
90004      França
dtype: object

Acessando índice:

In [ ]:
print(my_serie2[9001])

Caroline

In [ ]:
print(my_serie2.loc[9001])

Caroline

Procurando elemento por posição com iloc:

In [ ]:
print(my_serie2.iloc[0])

Mariana

Acessando API

In [ ]:
import yfinance as yf

tkr = yf.Ticker('TSLA')

hist = tkr.history(period = '5d')

hist = hist.drop("Dividends", axis = 1)

hist = hist.drop("Stock Splits", axis = 1)

hist = hist.reset_index()

hist

,Date,Open,High,Low,Close,Volume
0,2024-12-03 00:00:00-05:00,351.799988,355.690002,348.200012,351.420013,58267200
1,2024-12-04 00:00:00-05:00,353.000000,358.100006,348.600006,357.929993,50810900
2,2024-12-05 00:00:00-05:00,359.869995,375.429993,359.500000,369.489990,81403600
3,2024-12-06 00:00:00-05:00,377.420013,389.489990,370.799988,389.220001,80548300
4,2024-12-09 00:00:00-05:00,397.049988,404.799988,378.010010,382.970001,68165736

# Programador autodidata

## Cap. 6 - Manipulação de strings

In [ ]:
string = "Camus"

for i in string:
  print(i)

C
a
m
u
s

In [ ]:
a = input()
b = input()
frase = f"Yesterday I wrote a {a}. I send it to {b}"
print(frase)

n1
n2
Yesterday I wrote a n1. I send it to n2

In [ ]:
str1 = "aldous Huxley was born in 1894"

str1.capitalize()

'Aldous huxley was born in 1894'

In [ ]:
str2 = "Where now? Who now? When now?"

str2.split("?")

['Where now', ' Who now', ' When now', '']

In [ ]:
lst = ["The", "fox", "jumped", "over", "the", "fence","."]

frase2 = " ".join(lst)

frase2 = frase2[0:-2] + "."

frase2

'The fox jumped over the fence.'

In [ ]:
frase2[0:-2]

'The fox jumped over the fenc'

In [ ]:
frase3 = "A screaming comes across the sky."

frase3.replace("s", "$")

'A $creaming come$ acro$$ the $ky.'

In [ ]:
plv = "Hemongway"

plv.index("m")

2

In [ ]:
str3 = "three "
str4 = "three"
str5 = "three"

print(str3 + " " + str4 + " " + str5)

print(3*str3)

three  three three
three three three

In [ ]:
frase4 = "It was a bright cold day in April, and the clocks were strinking thirteen"

frase4[0:33]

'It was a bright cold day in April'

## Cap. 7 - Loops

In [ ]:
nome = "Mariana"

for i in nome:
  print(i)

M
a
r
i
a
n
a

In [ ]:
bandas = ['SOAD', 'Slipknot', 'Linkin Park', 'Nirvana']

for i in bandas:
  print(i)

SOAD
Slipknot
Linkin Park
Nirvana

In [ ]:
pessoas = {"Pessoa 1": "Mariana",
           "Pessoa 2 ": "João",
           "Pessoa 3": "Paula"}

for i in pessoas:
  print(i)

Pessoa 1
Pessoa 2
Pessoa 3

In [ ]:
lst1 = ["Maçã", "Pera", "Laranja", "Morango"]
i=0
for fruta in lst1:
  new=lst1[i]
  new = new.upper()
  lst1[i] = new
  i+=1

print(lst1)

['MAÇÃ', 'PERA', 'LARANJA', 'MORANGO']

In [ ]:
list(enumerate(lst1))

for i,show in enumerate(lst1):
  new = lst1[i]
  new = new.upper()
  lst1[i] = new

print(lst1)

['MAÇÃ', 'PERA', 'LARANJA', 'MORANGO']

In [ ]:
i = 1
while i<=5:
  if i==3:
    i+=1
    continue

  print(i)

  i+=1

1
2
4
5

In [ ]:
i = 1
while i<=5:
  if i==3:
    i+=1
    break

  print(i)

  i+=1

1
2

In [ ]:
for i in range(1,5):
  print(i, end=' ')
  for j in ['a', 'b','c']:
    print(j, end=' ')

1 a b c 2 a b c 3 a b c 4 a b c

In [ ]:
lst2 = [1,2,3,4]
lst3 = [5,6,7,8]

completa = []

for i in lst2:
  for j in lst3:
    completa.append(i+j)

print(completa)

[6, 7, 8, 9, 7, 8, 9, 10, 8, 9, 10, 11, 9, 10, 11, 12]

In [ ]:
while input('y or n') != 'n':
  for i in range(1,3):
    print(i)

y or ny
1
2
y or ny
1
2
y or n3
1
2
y or nn

In [ ]:
lst5 = ["TWD", "La casa de papel", "Dexter", "Resident"]

for i in lst5:
  print(i)

TWD
La casa de papel
Dexter
Resident

In [ ]:
for i in range(25,31):
  print(i)

25
26
27
28
29
30

In [ ]:
for i in lst5:
  print(i, lst5.index(i))

TWD 0
La casa de papel 1
Dexter 2
Resident 3

In [ ]:
lista_num = [1,2,4,8]

#resp2 = input('digite um número inteiro')
while True:
  resp = input('c - continue or q - quit ')
  if resp =='q':
    break
  if int(input('number ')) in lista_num:
      print("acertou")
      break
  else:
      print("passou longe, tente novamente")

c - continue or q - quit c
number 7
passou longe, tente novamente
c - continue or q - quit c
number 2
acertou

In [ ]:
l1 = [8,19,148,4]
l2 = [9,1,33,83]

l3 = []

for i in l1:
  for j in l2:
    l3.append(i*j)

l3

[72, 8, 264, 664, 171, 19, 627, 1577, 1332, 148, 4884, 12284, 36, 4, 132, 332]

## Cap. 8 - Módulos

In [ ]:
import random
random.randint(0,100)

39

In [ ]:
# MÓDULO cubed - cubed.py
'''def cubo(number):
  return number**3'''

In [ ]:
import cubed

cubo(3)

27

## Cap. 9 - Arquivos

In [ ]:
import csv

with open("texte.csv", "w", newline='') as f:
  w=csv.writer(f, delimiter=',')


  w.writerow(['cabeça', 'ombro', 'joelho', 'pé'])
  w.writerow([1,2,3,4])

In [ ]:
import csv

with open('texte.csv', 'r') as f:
  r = csv.reader(f, delimiter=',')
  for row in r:
    print(','.join(row))

cabeça,ombro,joelho,pé
1,2,3,4

In [ ]:
user = input("escreva seu nome: ")

with open("users.txt", "w") as f:
  w = f.write(user)

escreva seu nome: mariana

# Exercícios avulsos

### 1 Exercício: Jogo de Adivinhação com Loop
Descrição:
Implemente um jogo no qual o programa escolhe um número aleatório entre 1 e 100. O jogador deve adivinhar qual é o número, e o programa deve fornecer dicas se o palpite foi maior ou menor que o número sorteado. O jogo continua até o jogador acertar o número. Ao final, mostre quantas tentativas foram necessárias para acertar.

Regras:

1. Use um while loop para continuar o jogo até que o jogador acerte.
2. Imprima uma mensagem após cada tentativa para orientar o jogador.
3. Ao acertar, exiba o número de tentativas usadas.

In [ ]:
import random
numero = random.randint(1,100)

user = 0
tentativas = 0
while user!=numero:
  user = int(input("Insira um número inteiro de 1 a 100: "))
  tentativas+=1
  if user == numero:
    print("você acertou!!!")
    print("Número de tentativas:", tentativas)
    break
  else:
    print("passou longe, tente novamente")

Insira um número inteiro de 1 a 100: 1
passou longe, tente novamente
Insira um número inteiro de 1 a 100: 5
passou longe, tente novamente
Insira um número inteiro de 1 a 100: 15
passou longe, tente novamente
Insira um número inteiro de 1 a 100: 10
você acertou!!!
Número de tentativas: 4

### 2 Exercício: Tabuada com Loop
Descrição:
Crie um programa que peça ao usuário para inserir um número e exiba a tabuada desse número de 1 a 10. O programa deve usar um loop for para exibir os resultados.

In [ ]:
user_num = int(input("insira um número de 1 a 10: "))


for i in range(1,11):
  mult = user_num*i
  print(f"{user_num} * {i} =  {mult}")

insira um número de 1 a 10: 3
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

### 3 Exercício: FizzBuzz
Escreva um programa que exiba números de 1 a 50, mas:

1. Para números divisíveis por 3, imprima "Fizz" em vez do número.
2. Para números divisíveis por 5, imprima "Buzz" em vez do número.
3. Para números divisíveis por 3 e 5, imprima "FizzBuzz" em vez do número.

In [ ]:
for i in range(1,51):
  if i % 3 == 0 and i % 5 == 0:
    print(f"FizzBuzz - {i}")
  elif i % 3 == 0:
    print(f"Fizz - {i}")
  elif i % 5 == 0:
    print(f"Buzz - {i}")
  else:
    print(i)

1
2
Fizz - 3
4
Buzz - 5
Fizz - 6
7
8
Fizz - 9
Buzz - 10
11
Fizz - 12
13
14
FizzBuzz - 15
16
17
Fizz - 18
19
Buzz - 20
Fizz - 21
22
23
Fizz - 24
Buzz - 25
26
Fizz - 27
28
29
FizzBuzz - 30
31
32
Fizz - 33
34
Buzz - 35
Fizz - 36
37
38
Fizz - 39
Buzz - 40
41
Fizz - 42
43
44
FizzBuzz - 45
46
47
Fizz - 48
49
Buzz - 50

### 4 Exercício: Tabuada Completa
Descrição:
Escreva um programa que exiba a tabuada de 1 a 10. Ou seja, o programa deve mostrar todas as multiplicações entre 1 e 10 para cada número nesse intervalo.

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i}x{j} =", i*j)

### 5 Exercício: Desenho de Triângulo de Asteriscos
Descrição:
Escreva um programa que receba um número inteiro positivo do usuário e desenhe um triângulo com esse número de linhas, utilizando asteriscos (*).

In [ ]:
for i in range(1,6):
  print(i*"*")

*
**
***
****
*****

Triângulo invertido:

In [ ]:
for i in range(5,0,-1):
  print(i*"*")

*****
****
***
**
*

### 6 Exercício: Pirâmide de Números
Descrição:
Escreva um programa que desenhe uma pirâmide de números. O número de linhas da pirâmide será fornecido pelo usuário.

In [ ]:
user = input("insira o número de linhas da pirâmide")